body{
    background-color:#F9F1F0;
    align-items: center;
}

h1{
    text-align: center;
    color:deeppink;
    font-size: 50px;
    font-weight: bold;
}

.card{
    cursor:pointer;
    border: 1px solid dimgrey;
    background-color: white;
    transition: background-color 0.75s ease;
    width: 200px;
    height: 200px;
}

.red{
    background-color: rgb(200, 71, 71);
   
}

.blue{
    background-color: rgb(67, 67, 163);
    
}

.yellow{
    background-color: rgb(221, 221, 85);
   
}

.green{
    background-color: rgb(68, 174, 68);
   
}

.divsContainer{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 30px;
    width: 450px;
    margin: 50px auto;
   
}

.button{
    background-color: salmon;
    border: 1px solid salmon;
    padding: 10px 10px;
    margin: auto;
    display: block;
    margin-top: 60px;
    color:black;
    font-size: bold;
    font-size: 20px;
    
}

.results-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }
  
  .correct-result {
    background-color: green;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }
  
  .wrong-result {
    background-color: red;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }
  
  /* ------------------------------------ */
  /* ---------- Helper classes ---------- */
  /* ------------------------------------ */
  
  .hidden {
    display: none;
  }